<main class="inner-wrap">
    <section id="blog-header">
       <div class="container">
          <div class="row">
             <div class="col-sm-12 text-center">
                <h1 class="top-head">مدونة الموقع</h1>
                <h3>تابع كل جديد بخصوص التسويق الالكتروني هنا</h3>
                <p>اخر الاخبار والنصائح من موقعنا للوصول الى نتائج افضل<br></p>
             </div>
          </div>
       </div>
    </section>
    <section id="blog-inner">
       <div class="container">
          <div class="row">
             <div class="col-md-4">
                <div class="post-wrapper">
                   <div class="post-img-wrap">
                      <img class="post-img" src="https://cdn.mypanel.link/1847ba/7ua8tfoqio936ufc.png" alt="معلومات عامة عن : تويتر , يوتيوب" class="img-responsive">
                      <span class="post-cate">اخر الاخبار</span>
                   </div>
                   <div class="post-content">
                      <h4 class="post-title">معلومات عامة عن : تويتر , يوتيوب</h4>
                      <p>
                      <p>قام مُؤسسو موقع التويتر الثلاثة إيفان ويليامز، بيز ستون، وجاك دورسي بتأسيس شركة أوديو (<b>Odeo</b>) الأمريكية، في عام <b>2004م</b></p>
                      </p>
                      <a href="#" class="read-more">إقرأ المزيد</a>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="post-wrapper">
                   <div class="post-img-wrap">
                      <img class="post-img" src="https://cdn.mypanel.link/1847ba/swuyucegn1y8k9w2.jpg" alt="معلومات عامة عن : تيك توك , سناب شات" class="img-responsive">
                      <span class="post-cate">اخر الاخبار</span>
                   </div>
                   <div class="post-content">
                      <h4 class="post-title">معلومات عامة عن : تيك توك , سناب شات</h4>
                      <p>
                      <p><span style="text-align: right;">تطبيق تيك توك هو نتاج عمل طويل وتجارب عديدة في مجال<b>&nbsp;</b></span><a href="https://www.alrab7on.com/what-is-social-media/" style="direction: rtl; unicode-bidi: embed; text-align: right; padding-bottom: 2px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: transparent; transition: border-bottom 0.15s ease-in;"><b>السوشيال ميديا</b></a><span style="text-align: right;">، والذي تملكه</span></p>
                      </p>
                      <a href="#" class="read-more">إقرأ المزيد</a>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="post-wrapper">
                   <div class="post-img-wrap">
                      <img class="post-img" src="https://cdn.mypanel.link/1847ba/gr96b4jx2acgsttw.png" alt="معلومات عامة عن : انستقرام , فيسبوك" class="img-responsive">
                      <span class="post-cate">اخر الاخبار</span>
                   </div>
                   <div class="post-content">
                      <h4 class="post-title">معلومات عامة عن : انستقرام , فيسبوك</h4>
                      <p>
                      <p style="box-sizing: inherit; margin-bottom: 1.5em; padding: 0px; border: 0px;"><b>انستقرام</b> موقع مجاني لتبادل الصور، أطلق في أكتوبر عام 2010، حيث قام بتأسيسها كيفن سيستروم و </p>
                      </p>
                      <a href="#" class="read-more">إقرأ المزيد</a>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="post-wrapper">
                   <div class="post-img-wrap">
                      <img class="post-img" src="https://cdn.mypanel.link/1847ba/gxn2mch9c8ix9ijd.png" alt="التسويق الالكتروني" class="img-responsive">
                      <span class="post-cate">اخر الاخبار</span>
                   </div>
                   <div class="post-content">
                      <h4 class="post-title">التسويق الالكتروني</h4>
                      <p>
                      <p><span style="font-size: 16px; caret-color: rgb(51, 51, 51); color: rgb(51, 51, 51); font-family: DroidArabicKufi-Regular, sans-serif, Arial;"><b>نظراً لتطور العالم وتطور أساليب عيشه،</b></span><b style="caret-color: rgb(51, 51, 51); color: rgb(51, 51, 51); font-family: DroidArabicKufi-Regular, sans-serif, Arial; font-size: 16px;">أصبح هناك ما يعرف بالتسويق عبر الإنترنت،&nbsp;</b><b style="caret-color: rgb(51, 51, 51); color: rgb(51, 51, 51); font-family: DroidArabicKufi-Regular, sans-serif, Arial; font-size: 16px;">وكانوا يعتمدون قديماً على ترويج السلعة وتسويقها </b></p>
                      </p>
                      <a href="#" class="read-more">إقرأ المزيد</a>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="post-wrapper">
                   <div class="post-img-wrap">
                      <img class="post-img" src="https://cdn.mypanel.link/1847ba/4e1ex63y80f6e4ca.jpeg" alt="عن موقعنا" class="img-responsive">
                      <span class="post-cate">اخر الاخبار</span>
                   </div>
                   <div class="post-content">
                      <h4 class="post-title">عن موقعنا</h4>
                      <p>
                      <p><b>بشكل عام موقعنا مختص بكل ما يتعلق بالسوشال ميديا والتسويق الالكتروني.....</b></p>
                      <p><br></p>
                      </p>
                      <a href="#" class="read-more">إقرأ المزيد</a>
                   </div>
                </div>
             </div>
          </div>
          <div class="row">
             <div class="col-md-12">
             </div>
          </div>
       </div>
    </section>
 </main>