<main class="inner-wrap">
    <div class="howitwork container-fluid">
       <div class="row">
          <div class="col-sm-12">
             <br>
             <h2 class="text-center main-head">كيفية استخدام الموقع</h2>
             <p class="text-center">هذه الصفحة ستوضح الية استخدام الموقع بشكل سهل وخطوة بخطوة.</p>
             <br><br><br><br>
          </div>
       </div>
       <div class="row border-left">
          <div class="col-sm-6">
             <span class="start-badge">البداية</span><br><br><br>
             <h3><span>01</span> تسجيل حساب</h3>
             <p>- يمكنك تسجيل حساب جديد في اي وقت عن طريق الضغط على زر التسجيل بالصفحة الرئيسية او يمكنك ببساطة الصغط <a href="/registre"><strong>هنا</strong></a>.</p>
             <p>- يرجى استخدام معلوماتك الشخصية والفعالة عند التسجيل حتى يصلك كل جديد</p>
          </div>
          <div class="col-sm-6">
             <!-- <div class="screenpic"><img src="https://cdn.mypanel.link/1847ba/l0ox6rnjb5u7zzpe.png" alt="screenshot" /></div> -->
             <div class="screenpic">
               <img  src="<%- host %>style/images/screen1.jpeg" />
                
          </div>
       </div>
       <div class="row border-right">
          <div class="col-sm-6">
             <div class="screenpic"><img src="https://cdn.mypanel.link/1847ba/d0stmuyha6au12zh.png" alt="screenshot" /></div>
          </div>
          <div class="col-sm-6">
             <h3><span>02</span> تسجيل الدخول</h3>
             <p>- يرجى تعبئة اسم المستخدم والباسورد الذين اخترتهم سابقا لتسجيل الدخول.</p>
          </div>
       </div>
       <div class="row border-left">
          <div class="col-sm-6">
             <h3><span>03</span> اضافة رصيد</h3>
             <p>- قبل ان تتمكن من وضع الطلبات يجب ان تقوم بشحن حسابك من صفحة : اضافة رصيد.</p>
             <p>- لدينا العديد من الطرق المتنوعة للشحن، يمكنك اختيار الطريقة المناسبة لكم منهم واذا كانت هنالك اي طريقة اخرى غير مذكورة يرجى مراسلتنا على التذاكر لنرى امكانية تفعيلها.</p>
          </div>
          <div class="col-sm-6">
             <div class="screenpic"><img src="https://cdn.mypanel.link/1847ba/z45u1mw4lmjjd0ji.png" alt="screenshot" /></div>
          </div>
       </div>
       <div class="row border-right">
          <div class="col-sm-6">
             <div class="screenpic"><img src="https://cdn.mypanel.link/1847ba/8hkou09fzfjtf2wt.png" alt="screenshot" /></div>
          </div>
          <div class="col-sm-6">
             <h3><span>04</span> الية الطلب</h3>
             <p>- لوضع اي طلب كل ما عليك فعله هو : 
                الذهاب الى صفحة : طلب جديد - اختيار   قسم معين - اختيار خدمة معينة - وضع الرابط والكمية - الضغط على تاكيد الطلب.
             </p>
             <p>- يمكنك تفقد الطلبات الخاصة بك عن طريق 
                الضغط على صفحة : الطلبات.
             </p>
          </div>
       </div>
       <div class="row border-left">
          <div class="col-sm-6">
             <h3><span>05</span> الدعم الفني والتواصل معنا</h3>
             <p>-  اذا احتجت لاي استفسار او واجهتك مشكلة بالطلبات او الموقع بشكل عام، يمكنك دائما  مراسلتنا عن طريق الضغط على صفحة : الدعم الفني ومن ثم تعبئة تذكرة جديدة ، وسيتم الرد عليكم باقرب وقت ممكن.</p>
             <p>- يمكنك الضغط على : التذاكر المفتوحة من صفحة الدعم الفني، لرؤية حالة التذكرة ومشاهدة اي رد من قبل فريقنا المختص.</p>
          </div>
          <div class="col-sm-6">
             <div class="screenpic"><img src="https://cdn.mypanel.link/1847ba/xigacdzf4efbn4n5.png" alt="screenshot" /></div>
             <span class="end-badge">النهاية</span>
          </div>
       </div>
    </div>
 </main>