<nav class="navbar navbar-default navbar-inverse navbar-static-top  rtl-navbar ">
    <div class="container">
       <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%- host %>">
               <div style="width: 300px;" class="main_logo_nav">
                  <img style="width: 100%; height: 100%;" src="<%- host %>style/images/logo.png" alt="Almachahir" title="Almachahir">
               </div>
          </a>
       </div>
       <div id="navbar" class="collapse navbar-collapse">
          <!-- <ul class="nav navbar-nav navbar-left-block">
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> عربي <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-max-height">
                   <li class="active"><a href="#">عربي</a></li>
                   <li><a href="#">English</a></li>
                </ul>
             </li>
          </ul> -->
          <ul class="nav nav-custom navbar-nav navbar-right ">
             <!--<li >
                <a href="#" >
                الخدمات
                </a>
             </li>-->
             <li >
                <a href="<%- host %>faqs" >
                الاسئلة الشائعة
                </a>
             </li>
             <li class="login">
                <a  href="<%- host %>registre" >
                تسجيل حساب
                </a>
             </li>
             <li  class="activel" >
                <a href="/" >
                تسجيل الدخول
                </a>
             </li>
          </ul>
       </div>
    </div>
 </nav>