
<div class="container-fluid settings">
    <div class="row settings_row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group">
                <li class="list-group-item active">عام</li>
                <li class="list-group-item ">وسائل الدفع</li>
                <li class="list-group-item">الاشعارات</li>
                <li class="list-group-item">البونص</li>
              </ul>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 item_settings" id="general_settings">
            <form>
                <!--<div class="form-group">
                  <label for="exampleFormControlFile1">Example file </label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>-->
                <div class="form-group">
                    <label for="exampleFormControlFile1">نظام الدعم الفني</label>
                    <select class="form-control form-control-lg">
                        <option value="true" selected>تفعيل</option>
                        <option value="false">عدم تفعيل</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlFile1">ماكس عدد الرسائل للمستخدم</label>
                    <select class="form-control form-control-lg">
                        <option value="true" selected>1 رسالة</option>
                        <option value="false">2 رسالة</option>
                        <option value="false">3 رسالة</option>
                        <option value="false">4 رسالة</option>
                        <option value="false">5 رسالة</option>
                        <option value="false">6 رسالة</option>
                        <option value="false">7 رسالة</option>
                        <option value="false">8 رسالة</option>
                        <option value="false">9 رسالة</option>
                        <option value="false">10 رسالة</option>
                        <option value="false">غير منتهي</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlFile1">تأكيد الايمايل</label>
                    <select class="form-control form-control-lg">
                        <option value="true" selected>تفعيل</option>
                        <option value="false">عدم تفعيل</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary">حفظ</button>
              </form>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 item_settings" id="payments_settings">
            <div class="table-responsive">
                <table class="table custom-table mob-table results rtl-table">
                    <thead>
                        <tr>
                            
                            <th>وسيلة الدفع</th>
                            <th>الاسم (للمستخدم)</th>
                            <th>أقل عملية دفع</th>
                            <th>ماكس</th>
                            <th>المستخدمين الجدد</th>
                            <th>حالتها</th>
                            <th>تعديل</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 item_settings" id="notifications_settings">4</div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 item_settings" id="bonuses_settings" >5</div>
    </div>
</div>
