<section id="sign-up">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="">
            <form class="rtl-form" id="regestre_form">
                                      <div class="form-group icon-group">
                <input type="text" class="form-control " id="username" value="" placeholder="اسم المستخدم">
                <span class="input-icon"><i class="material-icons">person</i></span>
                <span class="issues username_issue"></span>
              </div>
                          <div class="row">
                <div class="col-sm-6">
                  <div class="form-group icon-group">
                    <input type="text" class="form-control " id="firstname" value="" placeholder="الاسم الاول">
                    <!-- <span class="input-icon"> -->
                    <span class="input-icon">
                      <!-- <i class="material-icons">person</i> -->
                 <img  class=""  src="<%- host %>style/images/user.png" />
                    
                    </span>
                      
                      <!-- <i class="material-icons">verified_user</i> -->
                    
                    <!-- </span> -->
                    <span class="issues firstname_issue"></span>
                    <div class="popupInWrapper" style="display:none;"><span class="popupIcon"></span>ملاحظة :<br/>
  يرجى وضع معلوماتك الشخصية بشكل صحيح ودقيق لكي تكون مؤهل للحصول على مزايا الموقع وتفعيل طرق الدفع بشكل كامل.</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group icon-group">
                    <input type="text" class="form-control " id="lastname" value=""  placeholder="الاسم الاخير">
                    <span class="input-icon">
                      <!-- <i class="material-icons">person</i> -->
                 <img  class=""  src="<%- host %>style/images/user.png" />
                    
                    </span>
                    <span class="issues lastname_issue"></span>
                  </div>
                </div>
              </div>
                          <div class="form-group icon-group">
                <input type="email" class="form-control " id="email" value=""  placeholder="البريد الإلكتروني">
                <span class="input-icon"><i class="material-icons">email</i></span>
                <span class="issues email_issue"></span>
              </div>
              <div class="form-group icon-group">
                <input type="number" class="form-control" id="phone" placeholder="الهاتف">
                <span class="input-icon">
                  <!-- <i class="fab fa-whatsapp"></i> -->
                <div>
                 <img  class=""  src="<%- host %>style/images/phone-call.png" />

                </div> 
               
                </span>
                <span class="issues phone_issue"></span>
              </div>


                          
                          <div class="row">
                <div class="col-sm-6">
                  <div class="form-group icon-group">
                    <input type="password" class="form-control" id="password"  placeholder="كلمة السر">
                    <span class="input-icon"><i class="material-icons">lock</i></span>
                    <span class="issues password_issue"></span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group icon-group">
                    <input type="password" class="form-control" id="confirmPassword" placeholder="تأكيد كلمة السر">
                    <span class="input-icon"><i class="material-icons">lock</i></span>
                    <span class="issues password_confirm_issue"></span>
                  </div>
                </div>
              </div>
              <div style=" display: flex;  margin: 20px ; border-bottom: 1px solid white ; width: fit-content;" >
                <input type="checkbox" class="regestre-checklll" style="cursor: pointer;" id="checkbox_regestre" >

                <div class="text-center" style="margin: 0 11px;">لقد قرأت ووافقت على <a href="terms">شروط الخدمة</a></div>

              </div>
                          <div class="g-recaptcha form-group" data-sitekey="6Len5bUaAAAAAArhgiBHe_DhW5XsSygGh5JfR0yF"></div>
                          <span class="issues all_issue"></span>
              <button type="button" class="btn btn-primary btn-block regestre-btn" id="regestre_btn">سجل</button><br>
              <div class="text-center">هل لديك حساب؟ <a href="/">تسجيل الدخول</a></div>
            </form>
          </div>
        </div>
        <div class="col-md-7">
          <h2 class="inner-main-head"  style="font-weight: bold; font-size: 50px;">هل أنت جاهز؟</h2>
          <h2 class="inner-main-head" style="font-weight: bold; font-size: 50px; ">افتح حساب الان!</h2>
          <h3 class="inner-sub-head">يجب استخدام بريد الكتروني صالح للاستعمال.</h3>

       <div>
               <img style="width: 100%; height: 100%;" src="<%- host %>style/images/lap.webp" />

</div>
        </div>
      </div>
    </div>
    </section>