<section id="reset-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="inner-main-head"><strong>اعادة تعيين كلمة المرور</strong></h2>
                <h3 class="inner-sub-head">تاكد من ادخال كلمة المرور بشكل صحيح</h3>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-sm-12">
                <form class="rtl-form" method="post" action="">
                    <div class="row">
                        <!-- <div class="col-sm-3"></div> -->
                        <div class="col-md-12 center-custom">
                        <div class="col-sm-5">
                            <div class="form-group icon-group">
                                <input type="text" class="form-control" id="new_password" placeholder="كلمة السر جديدة" />
                                <span class="input-icon"><i class="material-icons">person</i></span>
                            </div>
                            <label class="issues" for="issues" id="update_password_issues"></label>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary btn-block" id="reset_password" style="border: 0;">تحديث</button>
                        </div>
                    </div>
                    </div>
                    <div class="text-center">
                        <div class="g-recaptcha form-group"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>