<section id="reset-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center forget_password_succ" style="display: none;margin-bottom: 120px;">
                <h2 class="inner-main-head"><strong> اذا كان هذا الايميل موجود لدينا سوف يتم ارسال رابط لاعادة تعيين كلمة المرور خلال 20 ثوان.</strong></h2>
            </div>
            <div class="col-sm-12 text-center forget_password">
                <h2 class="inner-main-head"><strong>نسيت كلمة المرور؟</strong></h2>
                <h3 class="inner-sub-head">
                    <!-- لا داعى للقلق! أدخل بريدك الإلكتروني وسنرسل لك رابط لاعادة تعيين كلمة السر. -->
                أدخل بريدك الإلكتروني وسنرسل لك رابط لاعادة تعيين كلمة السر.
                </h3>
            </div>
        </div>
        <div class="row forget_password" style="margin-top: 30px;">
            <div class="col-sm-12">
                <form class="rtl-form" method="post" action="">
                    <div class="row">
                        <!-- <div class="col-sm-3"></div> -->
                        <div class="col-md-12 center-custom">
                        <div class="col-sm-5">
                            <div class="form-group icon-group">
                                <input type="email" class="form-control" id="confirm_forget_email" placeholder="البريد الإلكتروني" />
                                <span class="input-icon"><i class="material-icons">person</i></span>
                            </div>
                            <label class="issues" for="issues" id="confirm_forget_email_issues"></label>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary btn-block" id="reset_password" style="border: 0;">ارسال</button>
                        </div>
                    </div>
                    </div>
                    <div class="text-center">
                        <div class="g-recaptcha form-group"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="<%- host %>js/assets/jquery.min.js"></script>
<script src="<%- host %>js/assets/forgetPassword.js"></script>