<main class="inner-wrap">
    <div class="container-fluid">
<div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-4"><p class="breadcrumbs">أنت الآن على: <strong>شروط الخدمة </strong></p></div>
<div class="col-sm-4"></div>
</div>
<div class="row">
<div class="col-sm-12">
  <div class="panel-group terms-collapse" id="accordion1" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading1">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
            بشكل عام              </a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
        <div class="panel-body">
    <p>
      عند وضع طلب باستخدام موقع almashahir1، فإنك تقبل تلقائيًا جميع شروط الخدمة المذكورة أدناه إذا كنت تقرأها أم لا.
نحن نحتفظ بالحق في تغيير شروط الخدمة هذه دون سابق إنذار. من المتوقع أن تقرأ جميع شروط الخدمة قبل تقديم أي طلب للتأكد من أنك محدث بأية تغييرات أو أي تغييرات مستقبلية.
لن تستخدم موقع almashahir1 إلا بطريقة تتبع جميع الاتفاقات المبرمة مع Instagram / Facebook / Twitter / Youtube / او اي موقع تواصل اجتماعي اخر على صفحة شروط الخدمة الفردية الخاصة بهم. اسعار الخدمات بالموقع قابلة للتغيير في أي وقت دون سابق إنذار. تظل سياسة الدفع / الاسترداد سارية في حالة تغير السعر. almashahir1 لا يضمن وقت التسليم لأية خدمات. نحن نقدم أفضل تقدير لدينا للوقت الذي سيتم فيه تسليم الطلب. هذا مجرد تقدير ولن يقوم almashahir1 برد الطلبات التي تتم معالجتها إذا شعرت أنها تستغرق وقتًا طويلاً. موقع almashahir1 يحاول جاهدا أن يقدم بالضبط ما هو متوقع منا من قبل البائعين لدينا. في هذه الحالة ، نحتفظ بالحق في تغيير نوع الخدمة إذا اعتبرنا أنه من الضروري إكمال الطلب.
توضيح :
موقع almashahir1 لن يكون مسؤول عن أي أضرار قد تتعرض لها أنت أو عملك.
المسؤوليات :
موقع almashahir1 ليس مسؤول بأي حال من الأحوال عن أي حظر أو حذف صورة يتم بواسطة Instagram أو Twitter أو Facebook أو YouTube أو وسائط التواصل الاجتماعي الأخرى.

    </p>
</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading2">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
            الخدمة              </a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
        <div class="panel-body">
          <p>
            سيتم استخدام موقع almashahir1 فقط للترويج لحسابك على Instagram / Twitter / Facebook أو اي حساب اجتماعي وللمساعدة في زيادة "المظهر" فقط.
نحن لا نضمن أن يتفاعل المتابعون الجدد معك ، نحن نضمن لك ببساطة الحصول على المتابعين الذين تدفع لهم مقابل ذلك.
نحن لا نضمن أن 100٪ من حساباتنا سيكون لها صورة للملف الشخصي ، وصور حيوية ومُحملة بالكامل ، على الرغم من أننا نسعى جاهدين لجعل هذا حقيقة واقعة لجميع الحسابات.
لن تقوم بتحميل أي شيء في موقع almashahir1 باي شيء يحتوي على عُري أو أي مواد غير مقبولة أو مناسبة لمجتمع Instagram / Twitter / Facebook أو Social Media بشكل عام.
الحسابات الخاصة لن تحصل على اي تعويض او الغاء. يرجى التأكد من أن حسابك عام قبل الطلب.

          </p>

      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading3">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
            سياسة الاسترجاع              </a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
        <div class="panel-body">
          <p>
            لن يتم رد أي مبالغ إلى طريقة الدفع الخاصة بك. بعد اكتمال الإيداع ، لا توجد طريقة لعكسه. يجب عليك استخدام رصيدك في الطلبات من موقع almashahir1 فقط.
أنت توافق على أنه بمجرد إتمام عملية الدفع ، فلن تقدم نزاعًا أو إعادة المبلغ مقابلنا لأي سبب.
إذا رفعت نزاعًا أو طلب باعادة المبلغ ضدنا بعد إيداع ، فنحن نحتفظ بالحق في إنهاء جميع الطلبات المستقبلية ، ونمنعك من موقعنا. نحتفظ أيضًا بالحق في استبعاد أي متابعين أو اي طلبات اخرى تم تسليمها إلليك أو الى عملائك في Instagram / Facebook / Twitter أو اي حساب في وسائط التواصل الاجتماعي الأخرى.
لن يتم رد أو إلغاء الطلبات الموضوعة في "لوحة أخرى فقط" بعد وضعها. سوف تتلقى رصيدًا مستردًا إلى حسابك على "لوحة أخرى أخرى" إذا كان الطلب غير قابل للتسليم
لن تكون طلبات الحساب الخاطئ أو الحساب الخاص مؤهلة لاسترداد الأموال. تأكد من تأكيد كل طلب قبل وضعه.
النشاط الاحتيالي مثل استخدام بطاقات الائتمان غير المصرح بها أو المسروقة سيؤدي إلى إنهاء حسابك. لا توجد استثناءات.
يرجى عدم استخدام أكثر من موقع واحد في نفس الوقت لنفس الصفحة او الحساب. لا يمكننا أن نقدم لك عدد المتابعين / الإعجابات الصحيحة في هذه الحالة. لن نقوم بالغاء او رد هذه الطلبات.

          </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading4">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
            سياسة الخصوصية              </a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
        <div class="panel-body">
          <p>
             
تغطي هذه السياسة كيفية استخدامنا لمعلوماتك الشخصية. نحن نأخذ خصوصيتك على محمل الجد وسوف نتخذ جميع التدابير لحماية معلوماتك الشخصية.
لن يتم استخدام أي معلومات شخصية يتم تلقيها إلا لملء طلبك. لن نبيع أو نعيد توزيع معلوماتك لأي شخص. يتم تشفير جميع المعلومات وحفظها في خوادم آمنة.
 
 

          </p>
      </div>
    </div>
  </div>
</div>
</div>
</div>

  </main>